.app-body {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 604px;
  justify-content: space-between;
  padding: 16px 0px 0px;
  position: relative;
  width: 340px;
}

.app-body .tabs-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.app-body .tabs-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.app-body .design-component-instance-node {
  color: var(--mirotoneindigo700-primary-text) !important;
  margin-left: unset !important;
  margin-right: unset !important;
}

.app-body .tabs-2 {
  color: var(--mirotoneindigo600-secondary-text) !important;
  margin-left: unset !important;
  margin-right: unset !important;
}

.app-body .tabs-3 {
  color: var(--mirotoneindigo600-secondary-text) !important;
  margin-left: -5.5px !important;
  margin-right: -5.5px !important;
}

.app-body .note-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.app-body .banner-flat {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px;
  position: relative;
  width: 308px;
}

.app-body .column {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  height: 258.46px;
  justify-content: center;
  position: relative;
}

.app-body .text {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.app-body .p-medium {
  align-self: stretch;
  color: var(--mirotoneindigo700-primary-text);
  font-family: var(--mirotone-h3-20px-font-family);
  font-size: var(--mirotone-h3-20px-font-size);
  font-style: var(--mirotone-h3-20px-font-style);
  font-weight: var(--mirotone-h3-20px-font-weight);
  letter-spacing: var(--mirotone-h3-20px-letter-spacing);
  line-height: var(--mirotone-h3-20px-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.app-body .text-wrapper {
  color: var(--mirotoneindigo700-primary-text);
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -9px;
  margin-right: -9px;
  position: relative;
  text-align: center;
  width: 294px;
}

.app-body .vector {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  margin-bottom: -0.77px;
  position: relative;
  width: 100%;
}

.app-body .button-text-icon {
  all: unset;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  justify-content: center;
  position: relative;
}

.app-body .focus-wrapper {
  align-items: center;
  border: 3px solid;
  border-color: var(--mirotoneblue-600);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-bottom: -3px;
  margin-left: -3px;
  margin-right: -3px;
  margin-top: -3px;
  position: relative;
}

.app-body .content-wrapper {
  all: unset;
  align-items: center;
  background-color: #4262ff;
  border: 2px solid;
  border-color: var(--mirotonewhite);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  gap: 1px;
  height: 44px;
  justify-content: center;
  padding: 7px 12px;
  position: relative;
}

.app-body .content {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  height: 24px;
  position: relative;
}

.app-body .element-play {
  height: 24px !important;
  object-fit: cover !important;
  position: relative !important;
  width: 24px !important;
}

.app-body .text-2 {
  color: var(--mirotonewhite);
  font-family: var(--mirotone-paragraph-medium-14px-font-family);
  font-size: var(--mirotone-paragraph-medium-14px-font-size);
  font-style: var(--mirotone-paragraph-medium-14px-font-style);
  font-weight: var(--mirotone-paragraph-medium-14px-font-weight);
  letter-spacing: var(--mirotone-paragraph-medium-14px-letter-spacing);
  line-height: var(--mirotone-paragraph-medium-14px-line-height);
  position: relative;
  text-align: center;
  width: fit-content;
}

.app-body .app-footer {
  align-items: flex-end;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  height: 44px;
  justify-content: center;
  position: relative;
}

.app-body .div-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 1;
  flex-grow: 1;
  justify-content: flex-end;
  position: relative;
}

.app-body .content-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
}

.app-body .iconset {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.app-body .frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  position: relative;
}

.app-body .button-icon-2 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  gap: 8px;
  height: 44px;
  justify-content: center;
  position: relative;
  width: 44px;
}

.app-body .element-comment-feedback-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
  height: 36px;
  position: relative;
  width: 36px;
}

.app-body .element-comment-feedback {
  height: 24px !important;
  left: 6px !important;
  position: absolute !important;
  top: 6px !important;
  width: 24px !important;
}

.app-body .element-settings {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}
